body{
    background-image:url(https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg); 
    height:100px;
    background-size:cover;
    background-position:center;
    color:white;
    font-size:14px;
    text-align:center;
    }
.login-page{
    width:360px;
    padding:10%;
    margin:auto;
}   
.form{
    position:relative;
    max-width:360px;
    margin:0 auto 100px;
    padding:45px;
    text-align:center;
}
.form input{
    font-family: "Roboto", sans-serif;
    background: white;
    width:100%;
    border:0;
    margin:15px;
    padding:15px;
    box-sizing:border-box;
    font-size:14px; 
}
.form button{
    font-family:"Roboto", sans-serif;
    text-transform:uppercase;
    background: #4CAF50;
    width:100%;
    border:0;
    padding:15px;
    color: white;
    font-size:14px;
    cursor:pointer;
}
